/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Browser reset */
* {
   margin: 0;
   bottom: 0;
   box-sizing: border-box;
}

body {
   padding: 0;
   margin: 0;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   line-height: 1.5;
}

.page-header {
   color: #efefef;
   background-color: #005ff9;
   background-image: unset;
   background: url(../images/page-header-background.png) no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   height: 380px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
   color: #333;
}

a {
   /* color: #4f5b93; */
   color: #1f6feb;
}

.project-name {
   font-size: 3.25rem;
   margin-top: 0;
   margin-bottom: 0.1rem;
   color: #ffff;
}
.project-tagline {
   font-size: 1.25rem;
   margin-bottom: 2rem;
   font-weight: 200;
   opacity: 0.7;
}
.btn {
   display: inline-block;
   margin-bottom: 1rem;
   color: rgba(255, 255, 255, 0.7);
   background-color: rgba(255, 255, 255, 0.08);
   border-color: rgba(255, 255, 255, 0.2);
   border-style: solid;
   border-width: 1px;
   border-radius: 0.3rem;
   transition: color 0.2s, background-color 0.2s, border-color 0.2s;
   padding: 0.75rem 1rem;
   text-decoration: none;
}
.btn:hover {
   color: #efefef;
}

/* main content */
.main-content {
   max-width: 64rem;
   padding: 2rem 6rem;
   margin: 0 auto;
   font-size: 1.1rem;
}

.main-content h1 {
   padding: 10px 0;
   margin-bottom: 6px;
}
.main-content h2 {
   padding: 6px 0px;
}
